---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import PatternImages from '../components/PatternImages.astro';
import Header from '../components/Header.astro'

const articles = await getCollection('patterns');
// pub-date の新しい順にソート
const sortedArticles = articles.sort((a, b) => {
  return new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime();
});
---

<Layout title="Pixtitch">
  <Header showDescription />
  <main>
    <ol>
      {sortedArticles.map((article) => (
        <li>
            <a href={`${import.meta.env.BASE_URL}${article.id.replace('.md', '')}`}>
              <PatternImages 
                baseName={article.id.replace('.md', '')} 
                title={article.data.title} 
                enableSwitching={false}
                x={article.data.x}
                y={article.data.y}
              />
            </a>
        </li>
      ))}
    </ol>
  </main>
</Layout>
